VITE_FIREBASE_API_KEY=AIzaSyCRU0odxcWT7WZnMTw0shi4B9aeVVZ0m9w
VITE_FIREBASE_AUTH_DOMAIN=nutrix-app-20d7d.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=nutrix-app-20d7d
VITE_FIREBASE_STORAGE_BUCKET=nutrix-app-20d7d.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=144739857694
VITE_FIREBASE_APP_ID=1:144739857694:web:f97bf7c581055fcfd9c50f
VITE_ADMIN_EMAILS=datnguyentien433@gmail.com